article,
aside,
audio,
blockquote,
body,
button,
canvas,
dd,
details,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
table,
td,
textarea,
th,
ul,
video {
  margin: 0;
  padding: 0;
}

body,
button,
code,
input,
select,
table,
textarea {
  font-family: nanumsquare, -apple-system, BlinkMacSystemFont, Roboto, Sans-Serif;
}

body,
html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

address,
cite,
dfn,
em {
  font-style: normal;
}

abbr {
  text-decoration: none;
}

[type="checkbox"],
[type="radio"],
a,
button,
label {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0.301961);
}

[type="checkbox"],
[type="radio"],
textarea {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

table {
  border-collapse: collapse;
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  -webkit-overflow-scrolling: touch;
}

button {
  overflow: visible;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-user-select: none;
}

button[disabled] {
  cursor: default;
}

[role="button"],
button {
  cursor: pointer;
}

[type="image"],
[type="password"],
[type="submit"],
[type="tel"],
[type="email"],
[type="text"] {
  border: 0;
  border-radius: 0;
}

input[type="password"]::-ms-reveal,
input[type="text"]::-ms-clear {
  display: none;
}

select {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}