<!DOCTYPE html>
<html lang="en">
<head>
<%- include("include/layouts/_head", title="page title") %>
</head>
<body>
<%- include("include/layouts/_header") %>
<%- include("include/layouts/_footer") %>
</body>
</html>