<!DOCTYPE html>
<html lang="en">
<head>
<%- include("include/layouts/_head", title="page title") %>
</head>
<body>
<%- include("include/layouts/_header") %>
<div>
  images
  <br>
  <img src="./assets/images/googlelogo_color_272x92dp.png" alt="">
</div>
<div>
  sprites
  <br>
  <i class="sp_like"></i>
  <i class="sp_icon"></i>
  <i class="sp_logo_naver"></i>
</div>
<%- include("include/layouts/_footer") %>
<%- include("include/layouts/_script") %>
</body>
</html>