<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("include/layouts/_head", title="page title") %>
  </head>
  <body>
    <%- include("include/layouts/_header") %>
    <div>
      images
      <br />
      <img src="./assets/images/googlelogo_color_272x92dp.png" alt="" />
    </div>
    <%- include("include/layouts/_footer") %> <%-
    include("include/layouts/_script") %>
  </body>
</html>
